/* global body padding */
body {
  padding-top:    20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  body {
    padding-top:    50px;
    padding-bottom: 50px;
  }
}

/* global spacing overrides */
h1, h2, h3, h4, h5, h6,
.a, .b, .c, .d, .e, .f {
  margin-top: 0;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.g,
.h {
  border-bottom: 0;
}

#search, .new-account, .account-detail, .brg > .form-control, .ce, .qn {
    border-radius: 25px !important;
}

.brx {
  color: #1997c6;
}

#date {
  display: block;
  border-radius: 25px !important;
  width: 100%;
  padding: 0.5rem 2.75rem;
  font-size: 0.9rem;
  line-height: 1.25;
  color: #555;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.account-row:hover, .qp:hover {
  background: #434857;
}

.account {
    border: none;
    background: none;
    width: 100%;
    margin-bottom: 5px;
    outline:none;
    line-height: 1.5;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color:#EEE;
}

.platform {
  font-size: 1rem;
  font-weight: 400 !important;
}

.new-account, .account-detail {
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  background: #252830;
  color:#EEE;
}

.add-account, .account-details {
  background: #434857;
}

.floating-btn {
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  margin: 50px;
  z-index: 999;
}