.account-list-pane {
  padding-top: 1rem;
}

  /* Add animation only on large devices */
@media (min-width: 576px) {
  .account-list-pane {
    transition: all 0.5s;
  }
}

/* For small devices, when the searchbar moves on bottom,
give some space in the page so that the searbar doesn't overlap content */
@media (max-width: 767.98px) {
  .account-list-pane:last-of-type {
    padding-bottom: 6rem;
  }
}
