.form-control,
.form-control-plaintext {
  color: var(--color-text);
  border-radius: 15px;
  background-color: var(--color-background-mute);
}

.form-control::placeholder {
  color: var(--color-text);
  opacity: 1;
}

.form-signin {
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  color: var(--color-text);
  background: var(--color-background);
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px 20px 0 rgba(208,214,222,.5);
}

@media(prefers-color-scheme: dark) {
  .form-signin {
    background: var(--color-background-soft);
    box-shadow: none;
  }
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  opacity: 0.9;
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin a {
  cursor: pointer;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin .btn-primary {
  color: var(--color-text);
  background-color: var(--color-text-inverted);
  border-color: var(--color-text);
}

.form-signin .btn-primary:hover,
.form-signin .btn-primary:active {
  color: var(--color-text-inverted);
  background-color: var(--color-text);
  border-color: var(--color-text-inverted);
}

.form-signin .btn-outline-primary {
  color: var(--color-text);
  border-color: var(--color-text) !important;
}

.form-signin .btn-outline-primary:hover,
.form-signin .btn-outline-primary:active {
  color: var(--color-background) !important;
  background-color: var(--color-background-inverted) !important;
}

.text-muted, a {
  color: var(--color-text) !important;
}