.form-control,
.form-control-plaintext {
  color: var(--color-text);
  border-radius: 15px;
  background-color: var(--color-background-mute);
}

.input-group.readonly .input-group-text {
  border: none;
}

.input-group-append .input-group-text {
  color: var(--color-text);
  opacity: 0.9;
  border-left: none;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--color-background-mute);
}

.input-group .input {
  border-right: 0;
}

.form-signin .form-control:focus {
  z-index: 2;
  box-shadow: none;
}

.form-control:focus + .input-group-append .input-group-text {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
}

.form-control::placeholder {
  color: var(--color-text);
  opacity: 1;
}

.form-signin {
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  color: var(--color-text);
  background: var(--color-background-mute);
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px 20px 0 rgba(208, 214, 222, 0.5);
}

@media (max-width: 767.98px) {
  .form-signin {
    box-shadow: none;
    background: var(--color-background);
  }
}

@media (prefers-color-scheme: dark) {
  .form-signin {
    background: var(--color-background-soft);
    box-shadow: none;
  }

  @media (max-width: 767.98px) {
    .form-signin {
      box-shadow: none;
      background: var(--color-background);
    }
  }
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  opacity: 0.9;
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin a {
  cursor: pointer;
}

.form-signin .btn-primary {
  color: var(--color-text);
  background-color: var(--color-text-inverted);
  border-color: var(--color-text);
}

.form-signin .btn-primary:hover,
.form-signin .btn-primary:active {
  color: var(--color-text-inverted);
  background-color: var(--color-text);
  border-color: var(--color-text-inverted);
}

.form-signin .btn-outline-primary {
  color: var(--color-text);
  border-color: var(--color-text) !important;
}

.form-signin .btn-outline-primary:hover,
.form-signin .btn-outline-primary:active {
  color: var(--color-background) !important;
  background-color: var(--color-background-inverted) !important;
}

.text-muted,
a {
  color: var(--color-text) !important;
}
