.bottom-sheet {
  z-index: 999;
  position: fixed;
  top: 0;
  height: 100%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.1s linear;
}

/* In small screen position bottom sheet in middle and full screen width*/
@media (max-width: 767.98px) {
  .bottom-sheet {
    right: 0;
    left: 0;
    width: 100%;
  }
}

/* In large screen position bottom sheet at right*/
@media (min-width: 767.98px) {
  .bottom-sheet {
    right: 0;
    width: 50%;
  }
}

.bottom-sheet.show {
  opacity: 1;
  pointer-events: auto;
}

/* On standalone mode on mobile phone, the header is hidden by notch, so lower down content */
@media screen and (display-mode: standalone) {
  .bottom-sheet.fullscreen .header  {
    padding-top: 3.5rem;
  }

  .bottom-sheet.fullscreen .header.hasIcon + .body {
    padding-top: 14.5rem;
  }
  
  .bottom-sheet.fullscreen .body {
    padding-top: 9rem;
  }
}

.bottom-sheet .sheet-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: #000;
}
.bottom-sheet .content {
  width: 100%;
  position: relative;
  background: #fff;
  max-height: 100vh;
  height: 50vh;
  max-width: 1150px;
  padding: 1rem 0 2rem;
  transform: translateY(100%);
  border-radius: 12px 12px 0 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
  transition: 0.3s ease;
}

.bottom-sheet.fullscreen .content {
  padding-top: 0;
}
@media (prefers-color-scheme: dark) {
  .bottom-sheet .content {
    box-shadow: none;
    background-color: var(--color-background-mute);
  }
}
.bottom-sheet.show .content {
  transform: translateY(0%);
}
.bottom-sheet.dragging .content {
  transition: none;
}
.bottom-sheet.fullscreen .content {
  border-radius: 0;
  overflow-y: scroll;
}

.bottom-sheet .header {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid var(--btn-color-background);;
  background-color: var(--color-background-mute);
  background-size: 0%;
  transition: height 0.5s;
}

@media (prefers-color-scheme: dark) {
  .bottom-sheet .header {
    border-bottom: none;
  }
}
.bottom-sheet .header .drag-icon {
  cursor: grab;
  user-select: none;
  padding: 15px;
  margin-top: -15px;
}
.bottom-sheet .header .drag-icon span {
  height: 4px;
  width: 40px;
  display: block;
  background: #c7d0e1;
  border-radius: 50px;
}

.bottom-sheet.fullscreen .header {
  padding-top: 1.5rem;
  position: fixed;
  width: 100%;
  color: #f8f9fa;
  background-size: 500%;
  background-position: center;
  z-index: 30;
}

.bottom-sheet .header .sidebar-large-icon {
  display: none;
}

.bottom-sheet.fullscreen .header .sidebar-large-icon {
  display: inline;
}

.bottom-sheet .body {
  padding-top: 2rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.bottom-sheet.fullscreen .header.hasIcon + .body {
  padding-top: 12.5rem;
}

.bottom-sheet.fullscreen .body {
  padding-top: 7rem;
  padding-bottom: 0;
}

.bottom-sheet .footer {
  padding-left: 1rem;
  padding-right: 1rem;
}

.bottom-sheet .footer .btn.btn-action {
  font-weight: 600;
  font-size: 17px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  text-align: left;
  height: 3rem;
  align-items: center;
}

/* In small screen align buttons center */
@media (max-width: 767.98px) {
  .bottom-sheet .footer .btn.btn-action {
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  .bottom-sheet .footer .btn.btn-action i {
    color: #fefefe;
  }
}

@media (prefers-color-scheme: dark) {
  .form-control-plaintext {
    color: #eee;
  }
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
@media (prefers-color-scheme: dark) {
  hr {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0)
    );
  }
}

.btn-group label.btn {
  color: #2870ea;
  border-color: #2870ea;
}
.btn-group label.btn.active,
.btn-group label.btn:hover {
  background: linear-gradient(81.62deg, #2870ea 8.72%, #1b4aef 85.01%);
  color: #fff;
  border-color: #2870ea;
}
@media (prefers-color-scheme: dark) {
  .btn-group label.btn {
    color: #fff;
  }
  .btn-group label.btn.active {
    color: #fff;
  }

  .btn-group label.btn.active,
  .btn-group label.btn:hover {
    background: #0b84fe;
  }
}
.sidebar.large-header .sidebar-body {
  padding-top: 13.5rem;
}
.text-muted,
a {
  color: #99c9ff !important;
}
.form-control {
  color: var(--color-text);
  overflow-x: auto !important;
}
.form-control::placeholder {
  color: var(--color-text-mute);
}
.form-control:active,
.form-control:focus,
.form-control:disabled,
.form-control[readonly] {
  color: var(--color-text);
  background: none;
  border: 1px solid var(--color-text-mute);
  box-shadow: none;
}
.form-label {
  width: 100%;
}
.form-label.tags .badge {
  margin-left: 0.3rem;
  font-size: 12px;
  line-height: 12px;
}
.tags-input {
  cursor: text;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.tags-new-input {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.btn-group label.btn {
  background: none;
}
.btn-group label.btn:first-of-type {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
.btn-group label.btn:last-of-type {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
.hover-danger:hover,
.hover-danger:active {
  background-color: #dc3545;
  color: #fff;
}
.btn-group .btn-check {
  display: none;
}
.btn-outline-light {
  border-color: var(--btn-color-background);
}
.input-group-list .input-group {
  margin-bottom: 0.5rem;
}

