.card-wrapper {
  padding: 15px;
}

@media (max-width: 796px) {
  .card-wrapper {
    padding: 15px 0;
  }
}

.card {
  color: var(--color-text);
  background: var(--color-background-mute);
  border: none;
  margin: 0 10px;
  border-radius: 1.8rem;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  height: 100%;
}
@media (prefers-color-scheme: dark) {
  .card {
    color: #e4e6eb;
    background: var(--color-background-soft);
    box-shadow: none;
  }
}
/* Add animation only on large devices */
@media (min-width: 576px) {
  .card {
    transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  }
}
.card:hover {
  box-shadow: 2px 4px 16px rgb(0 0 0 / 16%);
  transform: scale3d(1.01, 1.01, 1.01);
}
.card:hover .btn {
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

@media (prefers-color-scheme: dark) {
  .card:hover .btn {
    color: #0c8ed1;
    background: #002e48;
    border-color: #002e48;
  }
}

.card .card-body .row:not(:first-child) {
  padding-top: .7rem;
}

.card a {
  text-decoration: none;
}
.description {
  color: #818182;
}
.card-icon {
  border-radius: 13px;
  height: 5rem;
  width: 5rem;
  background-color: var(--color-background-inverted);
}

.card-title {
  font-weight: 400;
}

.card-footer {
  background: #a0bcc6;
  color: white;
  font-weight: 100;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.card-footer {
  border: none;
  background: transparent;
}

.card-footer .btn {
  font-size: small;
  border-radius: 1rem;
  padding: .2rem 1rem;
  font-weight: 500;
}

/* Stacked cards design */
.stacked-cards {
  height: 30vh;
  max-height: 100%;
  flex-flow: column wrap;
  overflow-y: hidden;
  overflow-x: scroll;
  box-sizing: border-box;
  display: flex;
}

@media (min-width: 576px) {
  .stacked-cards {
    height: 50vh;
  }
}

.stacked-cards-small {
  height: 20vh;
}

@media (min-width: 576px) {
  .stacked-cards-small .card-wrapper {
    width: 30% !important;
  }
}

.stacked-cards-small .card-wrapper:hover .btn {
  display: block !important;
}

.stacked-cards .card-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.stacked-cards .card-wrapper .card {
  width: 100%;
}

.card.card-secondary {
  background: #becdd5;
  color: white;
  border-radius: 1rem;
}

.card.card-secondary .card-footer {
  background: #a0bcc6;
  color: white;
  border-radius: 0 0 1rem 1rem !important;
}

.card.card-secondary .card-footer .btn{
  background: white;
  border: none;
  color: #0d6efd !important;
}