.left-sidebar-wrapper {
    left: 0;
}
.left-sidebar {
    /* background: var(--color-background-mute); */
    background: #252426;
}
.left-sidebar-wrapper.sidebar-wrapper-open {
    width: 250px !important;
}
@media (max-width: 767.98px) {
    .left-sidebar-wrapper.sidebar-wrapper-open {
        width: 100% !important;
        border-radius: 0;
    }
}

.left-sidebar .button--close {
    background-color: var(--color-text-inverted);
}
.left-sidebar .button--close i {
    color: var(--color-text);
}
.menu-actions {
    background-color: #313a6c;
}
.menu-actions a:active, .menu-actions a:hover {
    box-shadow: 2px 4px 16px rgb(0 0 0 / 16%);
    transform: scale3d(1.01,1.01,1.01);
}
