@media (display-mode: standalone) {
    .summary-header {
        margin-top: 3rem
    }

    /* Reduce home page size when bottom sheet modal is open in mobile */
    .bottom-sheet.show ~ .home-layout {
        margin: 3rem 1rem 0 !important;
    }

    .bottom-sheet.show {
        padding-top: 4rem !important;
    }
}

@media (display-mode: standalone) and (max-width: 767.98px) {
    .bottom-sheet.show .content {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .bottom-sheet.show ~ .home-layout {
        overflow: hidden;
        height: 100vh;
    }

    .bottom-sheet.show ~ .home-layout .summary-pane,
    .bottom-sheet.show ~ .home-layout .account-list-pane {
        overflow: hidden;
    }
}
