@media (display-mode: standalone) {
    .summary-header {
        margin-top: 3rem
    }

    /* Reduce home page size when bottom sheet modal is open in mobile */
    .bottom-sheet.show ~ .home-layout {
        margin: 3rem 1rem 0 !important;
    }

    .bottom-sheet.show {
        padding-top: 4rem !important;
    }
}
