@import './base.css';

#account-sidebar-wrapper,
#tags-sidebar-wrapper,
#settings-sidebar-wrapper {
    position: absolute;
    width: 0;
    right: 0;
    height: 100%;
    overflow-y: hidden;
    transition: all .5s;
    align-items: center;
    z-index: 9999;
}

.right-sidebar {
    transition: all .5s;
    overflow-y: auto;
    height: 100%;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    backdrop-filter: blur(18px) contrast(60%);
    border: none;
}

@media only screen and (min-width: 500px) {
    .right-sidebar {
        border-top-left-radius: 15px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 0;
    }
}

.button--close {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 15px;
    text-align: center;
    background-color: #fff;
    border: none;
    transition: all .3s;
    font-size: 2em;
}

.sidebar-header .justify-content-end {
    display: flex;
}

.sidebar-header .close {
    font-size: 2.5rem;
}

@media (prefers-color-scheme: dark) {
    .sidebar-header .close {
        color: #e4e6eb;
    }
}

.sidebar-icon {
    border-radius: 15px;
    height: 48px;
    width: 48px;
}

.sidebar.hasIcon .sidebar-title {
    margin-left: 2rem;
    transition: all .5s;
}

.sidebar-image-wrapper {
    position: absolute;
    top: -14px;
    left: -14px;
    border-radius: 15px;
    background: #f9f9f9;
    padding: 2px;
}

.text-muted, a {
    color: #99c9ff !important;
}

.form-control::placeholder {
    color: #ced4da70;
}

.form-control:disabled,
    .form-control[readonly] {
        background: none;
        border: 1px solid #ced4da70;
    }

.tags-input {
    cursor: text;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.tags-new-input {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.btn-group label.btn {
    background: none;
}

.btn-group label.btn:first-of-type{
    border-top-left-radius: 15px !important;;
    border-bottom-left-radius: 15px !important;;
}

.btn-group label.btn:last-of-type{
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;;
}

.sidebar-footer {
    padding: 1rem;
}

.sidebar-footer .btn {
    width: 100%;
}

.btn-group .btn-check {
    display: none;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


@media (prefers-color-scheme: dark) {
    hr {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    }
}