.sidebar-wrapper {
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    transition: all .5s;
    align-items: center;
    z-index: 9999;
}
.sidebar {
    overflow-y: auto;
    height: 100%;
    padding: 1rem;
    border-radius: 0;
    border: none;
    backdrop-filter: blur(18px) contrast(60%);
}
/* Change the width of the sidebar to display it*/
.sidebar-wrapper-open {
    position: fixed !important;
}
@media (max-width: 767.98px) {
    .sidebar-wrapper-open {
        height: 100% !important;
    }
}
.sidebar-icon {
    border-radius: 15px;
    height: 48px;
    width: 48px;
}
.sidebar.hasIcon .sidebar-title {
    margin-left: 2rem;
    transition: all .5s;
}
.sidebar-image-wrapper {
    position: absolute;
    top: -14px;
    left: -14px;
    border-radius: 15px;
    background: #f9f9f9;
    padding: 2px;
}
.sidebar .button--close {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 15px;
    text-align: center;
    border: none;
    transition: all .3s;
    font-size: 2em;
}
.sidebar-header .justify-content-end {
    display: flex;
}
.sidebar-body {
    height: 80%;
    overflow-y: auto;
}
.sidebar-footer {
    padding: 1rem;
}
.sidebar-footer .btn {
    width: 100%;
}
.sidebar-footer .btn-primary {
    color: #f8f9fa;
    border-color: var(--color-text);
    background: linear-gradient(81.62deg,#2870ea 8.72%,#1b4aef 85.01%);
}
