.sidebar-wrapper {
  position: absolute;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  align-items: center;
  z-index: 999;
}

/* Add animation only on large devices */
@media (min-width: 576px) {
  .sidebar-wrapper {
    transition: all 0.5s;
  }
}

.sidebar {
  overflow-y: auto;
  height: 100%;
  border-radius: 0;
  border: none;
  backdrop-filter: blur(18px) contrast(60%);
}
/* Change the width of the sidebar to display it*/
.sidebar-wrapper-open {
  position: fixed !important;
}
@media (max-width: 767.98px) {
  .sidebar-wrapper-open {
    height: 100% !important;
  }
}
.sidebar-icon {
  border-radius: 15px;
  height: 48px;
  width: 48px;
}
.sidebar-large-icon {
  border-radius: 5px;
  height: 90px;
  width: 90px;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}
.sidebar.hasIcon .sidebar-title {
  margin-left: 2rem;
  transition: all 0.5s;
}
.sidebar-image-wrapper {
  position: absolute;
  top: -14px;
  left: -14px;
  border-radius: 15px;
  background: #f9f9f9;
  padding: 2px;
}

.sidebar-header {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid #f8f9fa;
  background-color: #ffffff6b;
  backdrop-filter: blur(5px);
  transition: all 0.5s;
}

.sidebar-header .justify-content-end {
  display: flex;
}
.sidebar-body {
  padding-top: 6rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.sidebar-footer {
  padding-left: 1rem;
  padding-right: 1rem;
}
.sidebar-footer .btn {
  width: 100%;
}
.sidebar-footer .btn:hover {
  color: white;
  background: linear-gradient(81.62deg, #2870ea 8.72%, #1b4aef 85.01%);
}
.sidebar-footer .btn-link-danger {
  color: #dc3545;
}
.sidebar-footer .btn-link-danger:hover {
  color: white;
  background: #dc3545;
}
.sidebar-footer .btn-primary {
  color: #f8f9fa;
  border-color: var(--color-text);
  background: linear-gradient(81.62deg, #2870ea 8.72%, #1b4aef 85.01%);
}
