.summary-header {
  padding: 1rem 1rem 0;
}

/* Reduce home page size when bottom sheet modal is open in mobile */
@media (max-width: 767px) {
  .bottom-sheet.show ~ .home-layout,
  .bottom-sheet.show ~ .home-layout .summary-pane {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}
.summary-pane {
  border-right: 1px solid var(--color-text-inverted);
  background: none;
  box-shadow: inset 0 0 300px #fff;
  border: 1px solid #ffffffb0;
  backdrop-filter: blur(18px);
  border-radius: 2rem;
}

@media (min-width: 767px) {
  .summary-pane {
    margin: 1rem 1rem 1rem 2rem;
  }
}

@media (prefers-color-scheme: light) {
  .summary-header,
  .summary-pane {
    background: #f8f9fa;
  }
}
@media (prefers-color-scheme: dark) {
  .summary-header,
  .summary-pane {
    background: var(--color-background-soft);
  }
}
@media (max-width: 767px) {
  .summary-header {
    z-index: 1;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .summary-header {
    position: relative;
  }
}
.summary-pane {
  width: 350px;
  min-width: 300px;
  transition: all 0.3s;
  overflow-y: auto;
}
@media (min-width: 767px) {
  .summary-pane.summary-pane--expanded {
    width: 500px;
  }
}
.account-list-pane {
  flex: 1;
  overflow-y: auto;
}

/* Responsive for mobile */
@media (max-width: 767px) {
  .home-layout {
    flex-direction: column;
  }
  .summary-pane {
    width: 100%;
    min-width: unset;
    border-right: none;
    border-bottom: 1px solid var(--color-text-inverted);
  }

  
  .account-list-pane {
    width: 100%;
    padding: 0 0.5rem;
  }
}
