.tray-wrapper {
  left: 0;
  z-index: 2147483647;
  max-width: 361px;
  margin-right: auto;
  left: 1rem;
  right: 1rem;
  position: fixed;
  transition: all ease 0.5s;
}

/* In small screen position tray in middle
  And animate its opening from bottom to top
*/
@media (max-width: 767.98px) {
  .tray-wrapper {
    bottom: -80rem;
  }

  .tray-wrapper.tray-wrapper-open {
    bottom: 1rem;
  }
}

/* In large screen position tray in left
  And animate its opening from left to right
*/
@media (min-width: 767.98px) {
  .tray-wrapper {
    left: -80rem;
  }

  .tray-wrapper.tray-wrapper-open {
    left: 0;
    bottom: 0;
    height: 100%;
  }
}

.tray-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: #000;
}

.tray-wrapper.tray-wrapper-open .tray-overlay {
  display: block;
  z-index: -1;
}

.tray {
  padding-top: 0.625rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 767.98px) {
  .tray {
    border-radius: 36px;
    max-height: 60vh;
  }

  @media (prefers-color-scheme: light) {
    .tray {
      background-color: var(--color-background-mute);
    }
  }

  @media (prefers-color-scheme: dark) {
    .tray {
      background-color: var(--color-background-soft);
    }
  }
}

@media (min-width: 767.98px) {
  .tray {
    border-radius: 0;
    min-height: 100vh;
    backdrop-filter: blur(18px);
  }

  @media (prefers-color-scheme: light) {
    .tray {
      background: none;
      box-shadow: inset 0 0 300px 0px white;
    }
  }

  @media (prefers-color-scheme: dark) {
    .tray {
      background-color: #1c1c1da3;
    }
  }
}

.tray-header {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid var(--btn-color-background);;
  margin-bottom: 1rem;
}

.tray-header .justify-content-end {
  display: flex;
}

.tray-icon {
  border-radius: var(--btn-border-radius);
  height: 48px;
  width: 48px;
}

.tray .btn.btn-action {
  font-weight: 600;
  font-size: 17px;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 15px;
  width: 100%;
  text-align: left;
  height: 3rem;
  align-items: center;
  border-radius: var(--btn-border-radius);
}

@media (max-width: 767.98px) {
  @media (prefers-color-scheme: dark) {
    .tray .btn.btn-action.btn-light {
      background: var(--color-background-mute);
    }
  }
}

@media (min-width: 767.98px) {
  @media (prefers-color-scheme: dark) {
    .tray .btn.btn-action {
      font-weight: 400;
    }

    .tray .btn.btn-action:hover {
      border: 1px solid white;
    }

    .tray .btn.btn-action.btn-light i {
      color: #0b84fe;
    }
  }
}

.tray-body {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 1rem;
}

.tray .accordion-item,
.tray .accordion-button,
.tray .accordion-button:not(.collapsed),
.tray .accordion-body {
  background: var(--btn-color-background);
  border: none;
}

@media (min-width: 767.98px) {
  .tray .accordion-item,
  .tray .accordion-button,
  .tray .accordion-button:not(.collapsed),
  .tray .accordion-body {
    background: #FFFFFF;
  }
}

@media (max-width: 767.98px) {
  .tray .accordion-item,
  .tray .accordion-button,
  .tray .accordion-button:not(.collapsed),
  .tray .accordion-body {
    background: var(--btn-color-background);
    border: none;
  }
}

.tray .accordion-item:not(:last-of-type) {
  border-bottom: 1px solid var(--color-background-mute);
}

@media (prefers-color-scheme: dark) {
  .tray .accordion-item,
  .tray .accordion-button,
  .tray .accordion-button:not(.collapsed),
  .tray .accordion-body {
    background: var(--color-background-mute);
  }

  .tray .accordion-item:not(:last-of-type) {
    border-bottom: 1px solid var(--color-background-soft);
  }
}

.list-group-item {
  color: var(--color-text);
  background: var(--btn-color-background);
  border: none;
}

.list-group-item i {
  color: var(--color-text);
}

.list-group-item:not(:last-of-type) {
  border-bottom: 1px solid var(--color-background-mute);
}

@media (prefers-color-scheme: dark) {
  .list-group-item {
    background: var(--color-background-mute);
    border: none;
  }

  .list-group-item i {
    background: var(--color-background-mute);
  }

  .list-group-item:not(:last-of-type) {
    border-bottom: 1px solid var(--color-background-soft);
  }
}